<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.fx-change.app"
versionCode = "10"
version = "1.1.0">

<preference name="phonegap-version" value="3.3.0" />

<name>FX-Change.com</name>
<description>Buy/Sell FX Online</description>
<author href="http://www.fx-change.com" email="it@fx-change.com">FX-Change.com</author>

<gap:platform name="ios" />
<gap:platform name="android" />

<gap:plugin name="org.apache.cordova.camera"/>

<feature name="http://api.phonegap.com/1.0/contacts"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
</widget>
